@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', cursive o !important;
    background-color: #eee8e4 !important;
}

.user-avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.user-avatar-lg{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}